<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <test name="Homework24" preserve-order="false">
        <classes>
            <class name="LoginTests"/>
            <class name="BaseTest"/>
            <class name="POM.pages.BasePage"/>
            <class name="POM.pages.LoginPage"/>
            <class name="POM.pages.HomePage"/>
        </classes>
    </test>
</suite>